<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Notices</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <style>
  .ck-editor__editable {
    min-height: 300px;
  }
</style>
  </head>
  <body>
    <noscript>
      <div class="container">
        <h1 style="color: red;">Please Enable Javascript</h1>
      </div>
    </noscript> 
    {% include 'navbar.html' %} 
    {% block content %} 
    {% endblock %} 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>