{% extends 'base.html' %}
{% block content %}
<style>
  .ck-editor__editable {
    min-height: 300px;
  }
</style>
<div class="container p-5 justify-content-center align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <h1>Add A Notice</h1>
  </div>
  <form action="/create" method="post">
    {% if notice_edit %}
    <input type="hidden" name="notice_id" value="{{ notice_edit['notice_id'] }}">
  {% endif %}
    <div class="row g-3 align-items-end">
      <div class="col-md-8">
        <div class="form-floating">
          <input name="post_title" type="text" class="form-control" id="floatingInput" placeholder="Title" maxlength="100" required value="{{notice_edit['title'] if notice_edit else ''}}">
          <label for="floatingInput">Post Title</label>
        </div>
      </div>
      <div class="col-md-4">
        <label for="catergory">Catergory:</label>
        <select id="catergory" name="catergory" class="form-select" aria-label="Catergory Select"> {% for i in catergories %} <option value="{{i['name']}}" {% if notice_edit and i['name'] == notice_edit["catergory"] %}selected{% endif %}>{{i["name"]}}</option> {% endfor %} </select>
      </div>
    </div>
    <textarea id="editor" name="content" maxlength="1000">{{notice_edit['body'] if notice_edit else ''}}</textarea>
    <div class="d-flex justify-content-between mt-3">
      <a href="/" class="btn btn-danger btn-lg">Back</a>
      <div class="d-flex justify-content-end">
      <p class="px-3">Posting As <strong>{{session['prefix']}} {{session['last_name']}}</strong>
        <div class="row">
          <div class="col">
            <label for="start_date">Start Date</label>
            <input type="date" id="start_date" name="start_date" value="{{ notice_edit['startdate'] if notice_edit else todays_date }}" min="{{todays_date}}" class="form-control" required>
          </div>
        </div>
        <div class="col">
          <label for="end_date">End Date</label>
          <input type="date" id="end_date" name="end_date" value="{{ notice_edit['enddate'] if notice_edit else next_date }}" min="{{todays_date}}" class="form-control" required>
        </div>
      </p>
      <button type="submit" class="btn btn-lg btn-success">Submit</button>
    </div>
</div>
</form>
<script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
<script>
  ClassicEditor.create(document.querySelector('#editor'), {
    toolbar: {
      removeItems: ['uploadImage',
        "mediaEmbed",
        "insertTable",
        "link"
      ],
    },
  });
</script>
</div>
{% endblock %}