{% extends 'base.html' %}
{% block content %}
<div class="d-flex align-items-center justify-content-center p-5 mw-100 flex-column">
    <h1>Edit Profile</h1>
    
    
<div>
    <form action="/profile" method="post">
        <div class="d-flex"><div class="mb-3 px-2">
    <label for="firstname" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstname" name="first_name" required value="{{profile['firstname']}}" maxlength="45">
  </div>
<div class="mb-3 px-2">
    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" required value="{{profile['lastname']}}" maxlength="45">
  </div>
<div class="mb-3 px-2">
    <label for="prefix" class="form-label">Prefix</label>
    <input type="text" class="form-control" id="prefix" name="prefix" required value="{{profile['prefix']}}" maxlength="7">
  </div></div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<div class="container">
  <h1>Your Notices</h1>
  <div class="row g-3 justify-content-center align-items-center">
    {% if notices %}
    {% for i in notices %} {% include 'notice.html' %} {% endfor %} </div>
    {% else %}
    <h1>No Notices Posted Yet!</h1>
    {% endif %}
  </div>
</div>



{% endblock %}